C:\Users\almed\.nuget\packages\system.runtime.compilerservices.unsafe\6.1.2\buildTransitive\netcoreapp2.0\System.Runtime.CompilerServices.Unsafe.targets(4,5): warning : System.Runtime.CompilerServices.Unsafe 6.1.2 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.text.encodings.web\10.0.7\buildTransitive\netcoreapp2.0\System.Text.Encodings.Web.targets(4,5): warning : System.Text.Encodings.Web 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.io.pipelines\10.0.7\buildTransitive\netcoreapp2.0\System.IO.Pipelines.targets(4,5): warning : System.IO.Pipelines 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.text.json\10.0.7\buildTransitive\netcoreapp2.0\System.Text.Json.targets(4,5): warning : System.Text.Json 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.formats.asn1\8.0.2\buildTransitive\netcoreapp2.0\System.Formats.Asn1.targets(4,5): warning : System.Formats.Asn1 8.0.2 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.dependencyinjection.abstractions\8.0.2\buildTransitive\netcoreapp2.0\Microsoft.Extensions.DependencyInjection.Abstractions.targets(4,5): warning : Microsoft.Extensions.DependencyInjection.Abstractions 8.0.2 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.logging.abstractions\8.0.3\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Logging.Abstractions.targets(4,5): warning : Microsoft.Extensions.Logging.Abstractions 8.0.3 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.primitives\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Primitives.targets(4,5): warning : Microsoft.Extensions.Primitives 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration.abstractions\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.Abstractions.targets(4,5): warning : Microsoft.Extensions.Configuration.Abstractions 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.targets(4,5): warning : Microsoft.Extensions.Configuration 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.filesystemglobbing\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.FileSystemGlobbing.targets(4,5): warning : Microsoft.Extensions.FileSystemGlobbing 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.fileproviders.abstractions\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.FileProviders.Abstractions.targets(4,5): warning : Microsoft.Extensions.FileProviders.Abstractions 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.fileproviders.physical\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.FileProviders.Physical.targets(4,5): warning : Microsoft.Extensions.FileProviders.Physical 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration.fileextensions\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.FileExtensions.targets(4,5): warning : Microsoft.Extensions.Configuration.FileExtensions 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration.json\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.Json.targets(4,5): warning : Microsoft.Extensions.Configuration.Json 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.runtime.compilerservices.unsafe\6.1.2\buildTransitive\netcoreapp2.0\System.Runtime.CompilerServices.Unsafe.targets(4,5): warning : System.Runtime.CompilerServices.Unsafe 6.1.2 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.text.encodings.web\10.0.7\buildTransitive\netcoreapp2.0\System.Text.Encodings.Web.targets(4,5): warning : System.Text.Encodings.Web 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.io.pipelines\10.0.7\buildTransitive\netcoreapp2.0\System.IO.Pipelines.targets(4,5): warning : System.IO.Pipelines 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.text.json\10.0.7\buildTransitive\netcoreapp2.0\System.Text.Json.targets(4,5): warning : System.Text.Json 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\system.formats.asn1\8.0.2\buildTransitive\netcoreapp2.0\System.Formats.Asn1.targets(4,5): warning : System.Formats.Asn1 8.0.2 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.dependencyinjection.abstractions\8.0.2\buildTransitive\netcoreapp2.0\Microsoft.Extensions.DependencyInjection.Abstractions.targets(4,5): warning : Microsoft.Extensions.DependencyInjection.Abstractions 8.0.2 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.logging.abstractions\8.0.3\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Logging.Abstractions.targets(4,5): warning : Microsoft.Extensions.Logging.Abstractions 8.0.3 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net6.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.primitives\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Primitives.targets(4,5): warning : Microsoft.Extensions.Primitives 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration.abstractions\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.Abstractions.targets(4,5): warning : Microsoft.Extensions.Configuration.Abstractions 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.targets(4,5): warning : Microsoft.Extensions.Configuration 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.filesystemglobbing\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.FileSystemGlobbing.targets(4,5): warning : Microsoft.Extensions.FileSystemGlobbing 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.fileproviders.abstractions\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.FileProviders.Abstractions.targets(4,5): warning : Microsoft.Extensions.FileProviders.Abstractions 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.fileproviders.physical\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.FileProviders.Physical.targets(4,5): warning : Microsoft.Extensions.FileProviders.Physical 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration.fileextensions\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.FileExtensions.targets(4,5): warning : Microsoft.Extensions.Configuration.FileExtensions 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
C:\Users\almed\.nuget\packages\microsoft.extensions.configuration.json\10.0.7\buildTransitive\netcoreapp2.0\Microsoft.Extensions.Configuration.Json.targets(4,5): warning : Microsoft.Extensions.Configuration.Json 10.0.7 doesn't support netcoreapp3.1 and has not been tested with it. Consider upgrading your TargetFramework to net8.0 or later. You may also set <SuppressTfmSupportBuildWarnings>true</SuppressTfmSupportBuildWarnings> in the project file to ignore this warning and attempt to run in this unsupported configuration at your own risk. [C:\Users\almed\source\repos\ISPSystem\ISPSystem.csproj]
Build started...
Build succeeded.
An error occurred while accessing the Microsoft.Extensions.Hosting services. Continuing without the application service provider. Error: String reference not set to an instance of a String. (Parameter 's')
CREATE TABLE IF NOT EXISTS `__EFMigrationsHistory` (
    `MigrationId` varchar(95) NOT NULL,
    `ProductVersion` varchar(32) NOT NULL,
    CONSTRAINT `PK___EFMigrationsHistory` PRIMARY KEY (`MigrationId`)
);

CREATE TABLE `AuditLogs` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Action` longtext CHARACTER SET utf8mb4 NULL,
    `Entity` longtext CHARACTER SET utf8mb4 NULL,
    `EntityId` int NOT NULL,
    `Username` longtext CHARACTER SET utf8mb4 NULL,
    `Date` datetime(6) NOT NULL,
    `IPAddress` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_AuditLogs` PRIMARY KEY (`Id`)
);

CREATE TABLE `Clients` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Username` varchar(255) CHARACTER SET utf8mb4 NULL,
    `Password` longtext CHARACTER SET utf8mb4 NULL,
    `FullName` longtext CHARACTER SET utf8mb4 NULL,
    `Phone` longtext CHARACTER SET utf8mb4 NULL,
    `Email` longtext CHARACTER SET utf8mb4 NULL,
    `MacAddress` varchar(255) CHARACTER SET utf8mb4 NULL,
    `IpAddress` longtext CHARACTER SET utf8mb4 NULL,
    `Address` longtext CHARACTER SET utf8mb4 NULL,
    `NationalId` longtext CHARACTER SET utf8mb4 NULL,
    `Status` longtext CHARACTER SET utf8mb4 NULL,
    `CreatedAt` datetime(6) NOT NULL,
    `LastLogin` datetime(6) NULL,
    `CreatedBy` int NULL,
    `ClientType` longtext CHARACTER SET utf8mb4 NULL,
    `Role` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_Clients` PRIMARY KEY (`Id`)
);

CREATE TABLE `Expenses` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Amount` decimal(65,30) NOT NULL,
    `Reason` longtext CHARACTER SET utf8mb4 NULL,
    `Category` longtext CHARACTER SET utf8mb4 NULL,
    `Date` datetime(6) NOT NULL,
    `ReferenceNumber` longtext CHARACTER SET utf8mb4 NULL,
    `ReceiptImage` longtext CHARACTER SET utf8mb4 NULL,
    `Notes` longtext CHARACTER SET utf8mb4 NULL,
    `CreatedBy` int NULL,
    `CreatedAt` datetime(6) NOT NULL,
    CONSTRAINT `PK_Expenses` PRIMARY KEY (`Id`)
);

CREATE TABLE `Plans` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Name` longtext CHARACTER SET utf8mb4 NULL,
    `Speed` longtext CHARACTER SET utf8mb4 NULL,
    `Price` decimal(65,30) NOT NULL,
    `DurationDays` int NOT NULL,
    `Description` longtext CHARACTER SET utf8mb4 NULL,
    `IsActive` tinyint(1) NOT NULL,
    `SortOrder` int NOT NULL,
    CONSTRAINT `PK_Plans` PRIMARY KEY (`Id`)
);

CREATE TABLE `Products` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Name` longtext CHARACTER SET utf8mb4 NULL,
    `CostPrice` decimal(65,30) NOT NULL,
    `SellPrice` decimal(65,30) NOT NULL,
    `Quantity` int NOT NULL,
    CONSTRAINT `PK_Products` PRIMARY KEY (`Id`)
);

CREATE TABLE `SystemSettings` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Key` longtext CHARACTER SET utf8mb4 NULL,
    `Value` longtext CHARACTER SET utf8mb4 NULL,
    `Description` longtext CHARACTER SET utf8mb4 NULL,
    `Group` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_SystemSettings` PRIMARY KEY (`Id`)
);

CREATE TABLE `Users` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Username` varchar(255) CHARACTER SET utf8mb4 NULL,
    `Password` longtext CHARACTER SET utf8mb4 NULL,
    `FullName` longtext CHARACTER SET utf8mb4 NULL,
    `Phone` longtext CHARACTER SET utf8mb4 NULL,
    `Email` longtext CHARACTER SET utf8mb4 NULL,
    `Role` longtext CHARACTER SET utf8mb4 NULL,
    `Status` longtext CHARACTER SET utf8mb4 NULL,
    `CreatedAt` datetime(6) NOT NULL,
    `LastLogin` datetime(6) NULL,
    `CreatedBy` int NULL,
    CONSTRAINT `PK_Users` PRIMARY KEY (`Id`)
);

CREATE TABLE `Device` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ClientId` int NOT NULL,
    `MacAddress` longtext CHARACTER SET utf8mb4 NULL,
    `IpAddress` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_Device` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Device_Clients_ClientId` FOREIGN KEY (`ClientId`) REFERENCES `Clients` (`Id`) ON DELETE CASCADE
);

CREATE TABLE `Subscriptions` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ClientId` int NOT NULL,
    `PlanId` int NOT NULL,
    `PaidAmount` decimal(65,30) NOT NULL,
    `StartDate` datetime(6) NOT NULL,
    `EndDate` datetime(6) NOT NULL,
    `IsActive` tinyint(1) NOT NULL,
    `Status` longtext CHARACTER SET utf8mb4 NULL,
    `RenewedAt` datetime(6) NULL,
    CONSTRAINT `PK_Subscriptions` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Subscriptions_Clients_ClientId` FOREIGN KEY (`ClientId`) REFERENCES `Clients` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_Subscriptions_Plans_PlanId` FOREIGN KEY (`PlanId`) REFERENCES `Plans` (`Id`) ON DELETE CASCADE
);

CREATE TABLE `Purchases` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ProductId` int NOT NULL,
    `Quantity` int NOT NULL,
    `CostPerUnit` decimal(65,30) NOT NULL,
    `Supplier` longtext CHARACTER SET utf8mb4 NULL,
    `Total` decimal(65,30) NOT NULL,
    `Date` datetime(6) NOT NULL,
    CONSTRAINT `PK_Purchases` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Purchases_Products_ProductId` FOREIGN KEY (`ProductId`) REFERENCES `Products` (`Id`) ON DELETE CASCADE
);

CREATE TABLE `Sales` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ProductId` int NOT NULL,
    `Quantity` int NOT NULL,
    `Customer` longtext CHARACTER SET utf8mb4 NULL,
    `Total` decimal(65,30) NOT NULL,
    `Date` datetime(6) NOT NULL,
    CONSTRAINT `PK_Sales` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Sales_Products_ProductId` FOREIGN KEY (`ProductId`) REFERENCES `Products` (`Id`) ON DELETE CASCADE
);

CREATE TABLE `Tickets` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ClientId` int NOT NULL,
    `Title` longtext CHARACTER SET utf8mb4 NULL,
    `Description` longtext CHARACTER SET utf8mb4 NULL,
    `Status` longtext CHARACTER SET utf8mb4 NULL,
    `Priority` longtext CHARACTER SET utf8mb4 NULL,
    `Category` longtext CHARACTER SET utf8mb4 NULL,
    `AssignedTo` int NULL,
    `CreatedAt` datetime(6) NOT NULL,
    `ResolvedAt` datetime(6) NULL,
    `Resolution` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_Tickets` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Tickets_Users_AssignedTo` FOREIGN KEY (`AssignedTo`) REFERENCES `Users` (`Id`) ON DELETE RESTRICT,
    CONSTRAINT `FK_Tickets_Clients_ClientId` FOREIGN KEY (`ClientId`) REFERENCES `Clients` (`Id`) ON DELETE CASCADE
);

CREATE TABLE `Invoices` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `InvoiceNumber` longtext CHARACTER SET utf8mb4 NULL,
    `ClientId` int NOT NULL,
    `SubscriptionId` int NULL,
    `SubTotal` decimal(65,30) NOT NULL,
    `Tax` decimal(65,30) NOT NULL,
    `Discount` decimal(65,30) NOT NULL,
    `Total` decimal(65,30) NOT NULL,
    `Date` datetime(6) NOT NULL,
    `DueDate` datetime(6) NOT NULL,
    `IsPaid` tinyint(1) NOT NULL,
    `PaidAt` datetime(6) NULL,
    `Status` longtext CHARACTER SET utf8mb4 NULL,
    `Notes` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_Invoices` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Invoices_Clients_ClientId` FOREIGN KEY (`ClientId`) REFERENCES `Clients` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_Invoices_Subscriptions_SubscriptionId` FOREIGN KEY (`SubscriptionId`) REFERENCES `Subscriptions` (`Id`) ON DELETE RESTRICT
);

CREATE TABLE `TicketReplies` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `TicketId` int NOT NULL,
    `UserId` int NOT NULL,
    `Message` longtext CHARACTER SET utf8mb4 NULL,
    `CreatedAt` datetime(6) NOT NULL,
    `IsClient` tinyint(1) NOT NULL,
    CONSTRAINT `PK_TicketReplies` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_TicketReplies_Tickets_TicketId` FOREIGN KEY (`TicketId`) REFERENCES `Tickets` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_TicketReplies_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `Users` (`Id`) ON DELETE CASCADE
);

CREATE TABLE `InvoiceItems` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ProductId` int NOT NULL,
    `Quantity` int NOT NULL,
    `Price` decimal(65,30) NOT NULL,
    `InvoiceId` int NOT NULL,
    CONSTRAINT `PK_InvoiceItems` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_InvoiceItems_Invoices_InvoiceId` FOREIGN KEY (`InvoiceId`) REFERENCES `Invoices` (`Id`) ON DELETE CASCADE
);

CREATE TABLE `Payments` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ClientId` int NOT NULL,
    `SubscriptionId` int NULL,
    `InvoiceId` int NULL,
    `Amount` decimal(65,30) NOT NULL,
    `Date` datetime(6) NOT NULL,
    `PaymentMethod` longtext CHARACTER SET utf8mb4 NULL,
    `ReferenceNumber` longtext CHARACTER SET utf8mb4 NULL,
    `Notes` longtext CHARACTER SET utf8mb4 NULL,
    `Status` longtext CHARACTER SET utf8mb4 NULL,
    CONSTRAINT `PK_Payments` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_Payments_Clients_ClientId` FOREIGN KEY (`ClientId`) REFERENCES `Clients` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_Payments_Invoices_InvoiceId` FOREIGN KEY (`InvoiceId`) REFERENCES `Invoices` (`Id`) ON DELETE RESTRICT,
    CONSTRAINT `FK_Payments_Subscriptions_SubscriptionId` FOREIGN KEY (`SubscriptionId`) REFERENCES `Subscriptions` (`Id`) ON DELETE RESTRICT
);

CREATE UNIQUE INDEX `IX_Clients_MacAddress` ON `Clients` (`MacAddress`);

CREATE UNIQUE INDEX `IX_Clients_Username` ON `Clients` (`Username`);

CREATE INDEX `IX_Device_ClientId` ON `Device` (`ClientId`);

CREATE INDEX `IX_InvoiceItems_InvoiceId` ON `InvoiceItems` (`InvoiceId`);

CREATE INDEX `IX_Invoices_ClientId` ON `Invoices` (`ClientId`);

CREATE INDEX `IX_Invoices_SubscriptionId` ON `Invoices` (`SubscriptionId`);

CREATE INDEX `IX_Payments_ClientId` ON `Payments` (`ClientId`);

CREATE INDEX `IX_Payments_InvoiceId` ON `Payments` (`InvoiceId`);

CREATE INDEX `IX_Payments_SubscriptionId` ON `Payments` (`SubscriptionId`);

CREATE INDEX `IX_Purchases_ProductId` ON `Purchases` (`ProductId`);

CREATE INDEX `IX_Sales_ProductId` ON `Sales` (`ProductId`);

CREATE INDEX `IX_Subscriptions_ClientId` ON `Subscriptions` (`ClientId`);

CREATE INDEX `IX_Subscriptions_PlanId` ON `Subscriptions` (`PlanId`);

CREATE INDEX `IX_TicketReplies_TicketId` ON `TicketReplies` (`TicketId`);

CREATE INDEX `IX_TicketReplies_UserId` ON `TicketReplies` (`UserId`);

CREATE INDEX `IX_Tickets_AssignedTo` ON `Tickets` (`AssignedTo`);

CREATE INDEX `IX_Tickets_ClientId` ON `Tickets` (`ClientId`);

CREATE UNIQUE INDEX `IX_Users_Username` ON `Users` (`Username`);

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20260430041117_InitialCreate', '3.1.32');


